body {
    background: rgb(17, 17, 17);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin:0;
    padding: 0;
  }

  main {
    width:100vw;
    scroll-behavior: smooth;
  }

  img {
    width:100%;
    height: auto;
  }

  .grid-container {
	position: relative;
	max-width: var(--grid-max-width);
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-gap: 20px;
	gap: 20px;
	
	/* by default use min 200px wide columns auto-fit into width */
	grid-template-columns: minmax(200px, 1fr);
}

/* grids to 3 columns above mobile sizes */
@media (min-width: 600px) {
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
		padding: 10px 0 10px 0;
	}
	
	/* basic grids */
	.grid-container.col-5 {
		grid-template-columns: repeat(5, 1fr);
	}
	.grid-container.col-4 {
		grid-template-columns: repeat(4, 1fr);
	}
	.grid-container.col-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid-container.col-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid-container.full {
		grid-template-columns: 1fr;
	}
	
}


  header{
     background:black;
     background-image:url(../images/New\ front\ .jpg);
     background-size: 80%;
     background-position: center;
     padding: 20px;
     height:500px;
     text-align: center;
  }

    /*responsive grid*/
  @media screen and (max-width:1300px) {
    header{
        height:500px;
    }
}
  @media screen and (max-width:1250px) {
    header{
        height:430px;
    }
}
@media screen and (max-width:1100px) {
    header{
        height:400px;
    }
}
@media screen and (max-width:1000px) {
    header{
        height:350px;
    }
}
@media screen and (max-width:900px) {
    header{
        height:350px;
    }
}
@media screen and (max-width:880px) {
    header{
        height:320px;
    }
}
@media screen and (max-width:800px) {
    header{
        height:250px;
    }
}
@media screen and (max-width:700px) {
    header{
        height:220px;
    }
}
  @media screen and (max-width:600px) {
    header{
        height:180px;
        
    }
}

  header a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
   
  }

  .features{
     background:rgb(0, 0, 0);
     color: grey;
     padding:20px;
     display: flex;
     flex-direction: row;
  }

  .features figure{
    margin: auto;
    width: 100px;
  }

  .features figure img{
  }

  ul{
    margin:0;
    padding: 0;
    list-style-type:none;
  }

  li{
    display: inline-block;
    background:none;
    border-radius:30px;
    padding:10px;
    margin-left:30px;
  }

  li:hover{
    background-color: rgb(0, 0, 0);
  }
  li:first-child{
    margin-left:0;
  }

  footer{
    background:black;
    color:gray;
    padding: 10px 20px;
    text-align: center;
  }

h1 {
  padding:10px;
  margin-left:30px;
}

h4{
  padding:10px;
  margin-left:30px;
}


p{
    color:rgb(177, 177, 177);
    padding:10px;
    margin-left:30px;
  
}


